*
{
	margin: 0;
	padding: 0;
	/*color: azure;*/
}
body
{
	width: 100%;
	height: 100%;
	position: fixed;
	/*background-image: url("/img/heijin.jpg");*/

}
#container
{
	height: 100%;
	width: 100%;
	border: 1px solid black;
	display: flex;
	position: relative;

}